<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854200893643-j1nfobt43faq4isv86s9g2rkhunr5t82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854200893643-j1nfobt43faq4isv86s9g2rkhunr5t82</string>
	<key>API_KEY</key>
	<string>AIzaSyC-7YgkFDJyqyYHR-Tn4ie8_lJBzXVITV8</string>
	<key>GCM_SENDER_ID</key>
	<string>854200893643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.giahuy.Uni</string>
	<key>PROJECT_ID</key>
	<string>the-uni-92754</string>
	<key>STORAGE_BUCKET</key>
	<string>the-uni-92754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854200893643:ios:42e3790a25cfed6f0f9b4e</string>
	<key>DATABASE_URL</key>
	<string>https://the-uni-92754-default-rtdb.firebaseio.com</string>
</dict>
</plist>